@import url('reset.css');

body{
    margin: 0 5% 0 5%;
}

article{
    padding: 2em;
}


figure{
    border: thin solid darkslategray;
    padding: 0.5em;
    margin: 1em;
    width: 25%;
    float: left;
    background-color: #EFEFEE;
}

figure > * {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: .5em 0 .5em 0;
}

html {
    height: 100%;
}

footer{
    text-align: bottom;
    clear: both;
}

h1, h3, h4, h5, h6{
    padding: 1.5em 0 .8em 0;
}

h2 {
    padding: 1.6em 0 .4em 0;
}
header{
    overflow: auto; /* forces header to fit to figure */
}

footer {
    height: 40px;
    margin-top: -20px;
    position: relative;
}
header h1{
    padding-bottom: 2em;
    padding-top: 75px;
}

#productname {
    margin: .5em;
    font-size: 2em;
}

#productimg {
    border: thin solid darkslategray;
    width: 25%;
    margin: 2em;
    margin-right: 2em;
    float: left;
}

#description {
    padding: 1em;
}

.teas {
    width: 75%;
}
img{
    border-radius: 0.4em;
    max-width: 100%
}

p{
    padding: .5em 0 1em 0;
    line-height: 18px;
}

section{
    padding: 2em;
    width: 40%;
}

body {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    background-color: #EFEFEE;
    display: table;
}

/*------------------------   classes           ------------------------------ */

.float_right {
    float: right;
    margin-left: 1em;
}

.float_left {
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.small {
    width: 150px;
}

#wrapper, footer {
    background-color: #FFFFFF;
}

footer {
    height: 100%
}

footer > p {
    margin: 2em;
}

#wrapper, header, footer, #greeter {
    display: table-row;
}

#greeter {
    padding-top: 1em;
    padding-bottom: 0em;
    font-size: 48px;
    text-align: center;
}

#indextea {
    width: 15%;
    margin: 2% 2% 2% 0%;
    padding: 2% 2% 2% 2%;
    float: left;
    border:2px solid black;
}

.sidebarbutton {
    border:0;
    background-color:transparent;
    color: white;
    text-decoration:underline;
    font-size: 24px;
    padding: .5em 0em .5em 1em;
}

#main {
    background-color: #FFFFFF;
    width: 80%;
    float: right;
}

#padding {
    background-color: #FFFFFF;
    width: 2%;
    float: center;
}

#sidebar {
    width: 18%;
    float: left;
    background-color: #999999;
}

#indexcup {
    width: 15%;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    float: right;
    border:2px solid black;
}

#index1{
    margin: 5% 5% 1% 5%;
    padding: 1% 5% 1% 5%;
    background-color: #FFFFFF;
    display: block;
}

#index2{
    margin: 11% 4% 1% 5%;
    padding: 1% 5% 1% 5%;
    background-color: #FFFFFF;
    display: block;
}

#index1 > *, #index2 > * {
    font-size: 1em;
    font-height: 1em;
    display: block;
}

#index3{
    margin: 1% 4% 1% 5%;
    padding: 1% 5% 1% 5%;
    background-color: #FFFFFF;
}

.cartimg {
    margin: 0 auto;
}

#spacedcontent {
    margin: 1em 0em 1em 3em;
}

.mistake {
    background-color: pink;
}

ul {
    padding: 0em;
    list-style-type: none;
}

nav {
    background-color: #222222;
    padding: 1em 1em 1em 1em;
}

nav a{
    color: white;
    text-decoration: none;
    padding: .6em .1em .6em .1em;
}

nav a:hover, li.activePage a, .activesidebar  {
    background-color: #444444;


}
/*------------------------   nav section only  ------------------------------ */
nav ol li{
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
}

.cartbuttons {
    margin: 0 0 1em 0;
}

#mycart {
    border-spacing: 8em 1em;
    margin: 1em 0em 2em -8em;
}

#table aside{
    height: 600px;
    float: left;

    overflow: auto;
    margin-left: 2em;
}

#table section{
    width: 35%;
    height: 600px;
    float: left;
    overflow: auto;
}

.cartitem {
    text-align: center;
}

#table th{
    text-align: left;
}

